# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Models
models/*.pkl

# Streamlit secrets (never commit)
.streamlit/secrets.toml
.ipynb_checkpoints/
